@import 'src/assets/variables.scss';

.sidebar {
    background-color: $yellow;
    height: 100vh;
    transition: all 1s ease;
    text-align: center;
    padding: 10px;
    z-index: 99;
    box-sizing: border-box;
    position: relative;
}
.opened {
    width: 320px;
}
.closed {
    width: 60px;
    clear: both;
}
.floatIcon {
    float: right;
    position: absolute;
    top: 2%;
    right: 2%;
    &:hover {
        cursor: pointer;
        color: rgba(0,0,0,.5);
    }
}
.noFloat {
    float: none;
    position: unset;
}
.iconePerfil {
    transition: all 1.2s ease;
    cursor: pointer;
}
.bigPic {
    font-size: 130px;
}
.smallPic {
    font-size: 30px;
}
.icons-links {
    margin-top: 2rem;
    & svg:hover {
        cursor: pointer;
        color: rgba(0,0,0,.5);
    }
}
.link-icon {
    margin-bottom: 1rem;
}
.text-link {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2rem;
    &:hover {
        cursor: pointer;
        color: rgba(0,0,0,.5);

    }
}


.fotoCompacta, .fotoPerfil {
    border-radius: 100%;
    &:hover {
        opacity: .75;
        cursor: pointer;
    }
}

.fotoPerfil {
    width: 7rem;
    height: 7rem;
}
 
.fotoCompacta{
    width: 3rem;
    height: 3rem;
}