@import 'src/assets/variables.scss';

.Step {
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-evenly;
}

.statusBox {
    height: 90px;
    width: 90px;
    background-color: $gray02;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    &-Holder{
        text-align: center;
        padding: 0 10px;
        box-sizing: border-box;
    }
}

.greenBox {
    background-color: #00ff00;
}
.redBox {
    background-color: #ff0000;
}